<div class="container">
<h2>New article</h2>

<%= simple_form_for :article, url: articles_path do |f| %>
  <div class="form-inputs">
    <%= f.input :title, autofocus: true %>
    <%= f.input :text %>
  </div>

  <div class="form-actions">
    <%= f.submit 'Create article' , class: 'btn btn-primary' %>
  </div>
<% end %>

</div>