<div class="container">
  <h2>Contact us</h2>

  <%= simple_form_for :contact, url: contacts_path do |f| %>
    <div class="form-inputs">
      <%= f.input :email, autofocus: true %>
      <%= f.input :message %>
    </div>

    <div class="form-actions">
      <%= f.submit 'Send message' , class: 'btn btn-primary' %>
    </div>
  <% end %>

</div>